<!DOCTYPE html>
<html>

<head>
  <title>PokerBlindQC</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../assets/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.6.96/css/materialdesignicons.min.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript" src="../node_modules/androidjs/lib/androidjs.js"></script>
</head>

<style>
  .app {
    font-size: 20px;
  }
</style>

<body>

  <!-- body container -->
  <div id="app" class="app">
    <nav class="navbar navbar-dark bg-dark justify-content-between text-light">
      <div class="mb-0 d-flex align-items-center text-left" style="width: 160px;">
        <img src="../assets/icon/pokerblindqc.png" width="30" height="30" class="mr-1" alt="">
        PokerBlindQC
      </div>
      <div class="d-flex align-items-center text-center">
        <p id="today" class="mb-0" style="width: 160px;"></p>
      </div>
      <div class="d-flex align-items-center text-right">
        <p class="mb-0" hidden onclick="settingModal.show()" id="settingsBtn" style="width: 160px;">Settings <span
            class="mdi mdi-tune"></span></p>
      </div>
    </nav>

    <div class="container" id="currentGame" hidden>
      <div class="d-flex flex-column text-center">
        <div id="nextBlindTimerCard" class="mt-3">
          <h6>Blinds</h6>
          <h2 id="blinds" style="font-size: 4.5rem;line-height: 0.8;">0000/0000</h2>
          <div class="progress my-5">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"
              aria-valuemax="100">
            </div>
          </div>
        </div>
        <div id="InfoStartCard" class="d-flex justify-content-around align-items-center ">
          <div id="blindZone" style="width: 200px;" class="d-flex flex-column">
            <h6>Next Blind</h6>
            <h2 id="timerBlinds">00:00</h2>
          </div>
          <div id="buttonZone">
            <button type="button" id="startBtn" onclick="start()" class="btn btn-outline-dark btn-lg"><span
                class="mdi mdi-play"></span></button>
            <button type="button" id="stopBtn" hidden onclick="stop()" class="btn btn-outline-dark btn-lg"><span
                class="mdi mdi-pause"></span></button>
          </div>
          <div id="gameZone" style="width: 200px;" class="d-flex flex-column">
            <h6>Time played</h6>
            <h2 id="timerFormat">00:00:00</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="settingsMenu">
      <div class="d-flex flex-column text-center">
        <h1>Settings</h1>
        <div id="setBlinds">
          <div class="d-flex flex-row align-items-center">
            <h3>Big blinds</h3>
            <button type="button" id="" onclick="addBlind()" class="btn btn-outline-primary btn-sm ml-2"><span
                class="mdi mdi-plus"></span></button>
            <button type="button" id="" onclick="deleteBlind()" class="btn btn-outline-danger btn-sm ml-2"><span
                class="mdi mdi-minus"></span></button>
          </div>
          <div id="blindZoneSetting" class="d-flex flex-row flex-wrap justify-content-center">
          </div>
          <div id="setNextBlindTime">
            <div class="d-flex flex-row justify-content-between align-items-center">
              <div class="d-flex flex-row align-items-center">
                <h3>Next blind time:</h3>
                <input id="nextBlindTime" type="text" class="form-control m-2" style="max-width: 50px;">minutes
              </div>
            </div>
          </div>
        </div>
        <button type="button" id="" onclick="loadConfig()" class="btn btn-outline-success btn-lg">Start</button>

      </div>
    </div>

  </div>

  <div id="settingsModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <p>Are you sure to restart timer ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="settingModal.hide()">Close</button>
          <button type="button" class="btn btn-danger" onclick="reset()">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <div id="changeBlindModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-center align-items-center">
              <div class="spinner-grow text-danger" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <h1 class="ml-2">Blind Change !!</h1>
            </div>
            <h2 id="blindInModal" class="d-flex justify-content-center">0000/0000</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../assets/jquery-3.3.1.slim.min.js"></script>
  <script src="../assets/popper.min.js"></script>
  <script src="../assets/bootstrap.min.js"></script>
  <script type="text/javascript" src="../node_modules/nosleep.js/dist/NoSleep.js"></script>
  <script type="text/javascript" src="../script.js"></script>
</body>

</html>